<div class="payment">
  <h3 class="payment__title">Streamlined Checkout</h3>

  <p style="margin-bottom: 24px; color: var(--color-text-secondary);">
    Clicking "Place Order" will instantly finalize your purchase.
  </p>

  <button mat-flat-button color="primary" type="button" class="payment__submit" (click)="submitPayment()"
    [disabled]="processing()">
    @if (processing()) {
    <mat-spinner diameter="20"></mat-spinner>
    <span>Processing...</span>
    } @else {
    <span>Place Order</span>
    }
  </button>
</div>